<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--  引入axios  -->
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.js"></script>
    <!-- api -->
    <script src="./api/index.js"></script>
    <!--组件加载器-->
    <script src="https://unpkg.com/http-vue-loader"></script>
    <style>
        .header{
            height: 50px;
            background: #409EFF;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .header h3{
            color: #fff;
        }
        .el-dropdown-link {
            cursor: pointer;
            color: #fff;
        }
        .el-icon-arrow-down {
            font-size: 12px;
        }
    </style>
</head>
<body style="margin:0;">
<div id="app">
    <el-container>
        <el-header class="header">
            <h3>学生学习状态分析系统</h3>
            <el-dropdown @command="dropdownOperate">
                    <span class="el-dropdown-link">
                       教师：{{loginTeacher.tname}}<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="userSettings">用户中心</el-dropdown-item>
                    <el-dropdown-item divided command="logout">用户退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <el-menu>
                    <el-submenu index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
                            <span>学生学习状态分析</span>
                        </template>
                        <el-menu-item-group>
                            <template slot="title">学生成绩分析</template>
                            <el-menu-item index="1-1" @click="menuActive=1">学生平时成绩</el-menu-item>
                            <el-menu-item index="1-2" @click="menuActive = 2">学生作业成绩</el-menu-item>
                            <el-menu-item index="1-3" @click="menuActive = 3">学生实验成绩</el-menu-item>
                            <el-menu-item index="1-4" @click="menuActive = 4">学生考试成绩</el-menu-item>
                            <el-menu-item index="1-5" @click="menuActive = 5">学生总成绩</el-menu-item>
                        </el-menu-item-group>
                        <el-menu-item-group>
                        <template slot="title" >学生在线时长分析</template>
                        <el-menu-item index="2-1" @click="menuActive = 6">学生在线时长分析</el-menu-item>
                    </el-menu-item-group>
                        <el-menu-item-group>
                            <template slot="title" >学生分类</template>
                            <el-menu-item index="3-1" @click="menuActive = 7">学生分类</el-menu-item>
                        </el-menu-item-group>
                    </el-submenu>
                </el-menu>
            </el-aside>
            <el-main>
                <teacher-usual-manage v-if="menuActive== 1 "></teacher-usual-manage>
                <teacher-homework-manage v-if="menuActive== 2 "></teacher-homework-manage>
                <teacher-experiment-manage v-if="menuActive== 3 "></teacher-experiment-manage>
                <teacher-test-manage v-if="menuActive==4"></teacher-test-manage>
                <teacher-sum-score-manage v-if="menuActive==5"></teacher-sum-score-manage>
                <teacher-time-manage v-if="menuActive== 6 "></teacher-time-manage>
                <teacher-kind-manage v-if="menuActive==7"></teacher-kind-manage>
            </el-main>
        </el-container>
    </el-container>
</div>
<script>
    Vue.use(httpVueLoader);
    const vm = new Vue({
        el : '#app',
        data:{
            flag : 0,
            loginTeacher : JSON.parse(window.sessionStorage.getItem("loginTeacher")),
            menuActive : ''// 激活的菜单
        },
        methods:{
            dropdownOperate(command) {// 点击下拉选项
                if (command == 'logout') {
                    this.$confirm('此操作将退出系统, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        getRequest('http://localhost:8080/teacherLogout').then(resp => {
                            if (resp.status == 200 && resp.data.code == 200) {
                                window.sessionStorage.removeItem('loginTeacher');
                                this.$message.success(resp.data.msg);
                                setInterval(function () {
                                    window.location.href = './TeacherLogin.html';
                                }, 800);
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消操作'
                        });
                    });
                }
                if(command == 'userSettings'){
                    window.location.href='./TeacherUserSettings.html'
                }
            },
            loginCheck() {// 登录校验的函数
                if (this.loginTeacher == null) {
                    window.location.href = "./TeacherLogin.html";
                }
            }
        },
        mounted() {// DOM渲染完毕
            this.loginCheck();
        },
        components:{
            teacherUsualManage : 'url:./teacherUsualManage.vue',
            teacherHomeworkManage : 'url:./teacherHomeworkManage.vue',
            teacherTimeManage : 'url:./teacherTimeManage.vue',
            teacherExperimentManage : 'url:./teacherExperimentManage.vue',
            teacherTestManage: 'url:./teacherTestManage.vue',
            teacherSumScoreManage: 'url:./teacherSumScoreManage.vue',
            teacherKindManage : 'url:./teacherKindManage.vue',
        }
    })
</script>
</body>
</html>